rockchip/onnx2rknn/export_rknn/logs
rockchip/onnx2rknn/accuracyAnalysis/dump/*/
rockchip/onnx2rknn/*/check*
rockchip/onnx2rknn/*/*.rknn
rockchip/onnx2rknn/accuracyAnalysis/yolov5s.onnx
rockchip/onnx2rknn/accuracyAnalysis/*mod*